In [1]:
import config
import pymysql.cursors
import pandas as pd

In [2]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host=config.MYSQL_HOST,
                             port=config.MYSQL_PORT,
                             user=config.MYSQL_USER,
                             password=config.MYSQL_PASSWORD,
                             db="stocks",
                             charset=config.MYSQL_CHARSET,
                             cursorclass=pymysql.cursors.DictCursor)

In [3]:
with connection.cursor() as cursor:
  sql = "SELECT * from pttep"
  #cursor.execute("show tables;")
  cursor.execute(sql)
  result = cursor.fetchall()

print("number of rows: ", len(result))

number of rows:  34

In [4]:
pd.DataFrame(result)

,ID,วันที่,ราคาเปิด,ราคาสูงสุด,ราคาต่ำสุด,ราคาปิด,เปลี่ยนแปลง,ร้อยละเปลี่ยนแปลง,ปริมาณรวมหุ้น,มูลค่ารวมพันบาท
0,1,19/11/2563,93.00,93.50,91.50,92.25,-0.75,-0.81,16390213,1518570.0
1,2,18/11/2563,91.00,93.50,90.50,93.00,1.75,1.92,11261267,1037180.0
2,3,17/11/2563,91.50,93.25,91.00,91.25,-0.25,-0.27,16474150,1519940.0
3,4,16/11/2563,91.25,92.00,90.75,91.50,1.25,1.39,9301876,850406.0
4,5,13/11/2563,89.00,91.00,88.50,90.25,-0.25,-0.28,11727897,1053110.0
5,6,12/11/2563,90.00,91.50,89.25,90.50,-1.00,-1.09,16508663,1494660.0
6,7,11/11/2563,91.75,92.50,89.50,91.50,0.75,0.83,23647974,2152180.0
7,8,10/11/2563,91.00,91.75,89.00,90.75,6.75,8.04,37427093,3380480.0
8,9,9/11/2563,83.50,85.25,83.25,84.00,1.25,1.51,18550987,1565680.0
9,10,6/11/2563,82.50,84.00,81.75,82.75,0.00,0.00,11978429,993286.0
10,11,5/11/2563,82.25,83.75,81.75,82.75,1.25,1.53,16790209,1386920.0
11,12,4/11/2563,81.25,82.25,80.00,81.50,0.75,0.93,13526670,1097530.0
12,13,3/11/2563,79.00,81.00,78.75,80.75,2.75,3.53,14750566,1176540.0
13,14,2/11/2563,78.50,78.75,77.75,78.00,-0.75,-0.95,4781454,373117.0
14,15,30/10/2563,79.25,79.50,77.25,78.75,-0.25,-0.32,10088998,789938.0
15,16,29/10/2563,78.00,79.25,77.00,79.00,0.50,0.64,9855808,770807.0
16,17,28/10/2563,79.00,80.50,78.00,78.50,-1.00,-1.26,11915657,942247.0
17,18,27/10/2563,78.75,79.75,78.50,79.50,-0.25,-0.31,8533014,675571.0
18,19,26/10/2563,81.00,81.25,79.25,79.75,-1.75,-2.15,8805585,703933.0
19,20,22/10/2563,79.50,82.50,78.75,81.50,1.50,1.88,20098353,1627610.0
20,21,21/10/2563,78.50,80.75,78.00,80.00,2.25,2.89,16007820,1273780.0
21,22,20/10/2563,77.75,78.50,76.50,77.75,-0.50,-0.64,14741045,1140760.0
22,23,19/10/2563,80.00,80.50,77.75,78.25,-2.00,-2.49,12808650,1009140.0
23,24,16/10/2563,81.00,81.00,79.50,80.25,-0.25,-0.31,6707883,537584.0
24,25,15/10/2563,80.50,82.00,80.50,80.50,-0.25,-0.31,11334646,920407.0
25,26,14/10/2563,82.00,82.25,80.25,80.75,-1.50,-1.82,9803899,793720.0
26,27,12/10/2563,83.00,83.25,82.00,82.25,-1.25,-1.50,9657949,797657.0
27,28,9/10/2563,83.00,84.00,82.75,83.50,1.25,1.52,13009262,1084190.0
28,29,8/10/2563,81.50,83.25,81.25,82.25,1.25,1.54,11360020,935296.0
29,30,7/10/2563,82.25,82.25,80.25,81.00,-1.25,-1.52,17631052,1431810.0
30,31,6/10/2563,79.00,83.25,79.00,82.25,5.50,7.17,33207409,2681090.0
31,32,5/10/2563,76.25,78.00,75.50,76.75,1.75,2.33,10783308,829794.0
32,33,2/10/2563,79.00,79.00,75.00,75.00,-4.50,-5.66,23087488,1762940.0
33,34,1/10/2563,79.50,80.00,78.50,79.50,0.50,0.63,9773338,774112.0

In [5]:
connection = pymysql.connect(host=config.MYSQL_HOST,
                             port=config.MYSQL_PORT,
                             user=config.MYSQL_USER,
                             password=config.MYSQL_PASSWORD,
                             db="r2de-workshop1",
                             charset=config.MYSQL_CHARSET,
                             cursorclass=pymysql.cursors.DictCursor)

In [6]:
with connection.cursor() as cursor:
  sql = "SELECT * from online_retail"
  #cursor.execute("show tables;")
  cursor.execute(sql)
  result = cursor.fetchall()

print("number of rows: ", len(result))

number of rows:  11

In [7]:
pd.DataFrame(result)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,1/12/2018 08:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,1/12/2018 08:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,1/12/2018 08:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,1/12/2018 08:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,1/12/2018 08:26,3.39,17850,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,1/12/2018 08:26,7.65,17850,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,1/12/2018 08:26,4.25,17850,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,1/12/2018 08:28,1.85,17850,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,1/12/2018 08:28,1.85,17850,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,1/12/2018 08:34,1.69,13047,United Kingdom
10,536367,22745,POPPYS PLAYHOUSE BEDROOM,6,1/12/2018 08:34,2.10,13047,United Kingdom